@media only screen and (min-width: 701px) {
  .containerBlog {
    margin: auto;
    padding: 5px;
    display: grid;
    gap: 10px;
    height: auto;
    max-width: 1200px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    /*     border: 2px solid red; */
    grid-template-areas:
      "nav nav nav nav nav"
      "banner banner banner banner banner"
      "banner banner banner banner banner"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "main main main main authorInfo"
      "footer footer footer footer footer";


  body {
    background-color: #fbfff4;
    /*  color: white; */
    font-family: sans-serif;
  }

  nav {
    /*   border: 3px solid green; */
    grid-area: content;
    padding: 20px;
    grid-area: nav;

    border: 3px solid #2b3618;
    /*   display:flex;
      align-items: center; */

    color: #1f271b;
  }

  .banner {
    border: 3px solid #2b3618;
    background-color: #2b3618;
    color: white;
    padding: 20px;
    font-family: cursive, sans-serif;

    font-size-adjust: 0.7;
    font-weight: 700;
    font-style: normal;

    grid-area: banner;
  }

  main {
    border: 3px solid #2b3618;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: main;
  }

  h2 {
    color: #2b3618;
    font-family: cursive, sans-serif;
    font-size-adjust: 0.7;
    font-weight: 700;
    font-style: normal;
  }

  .quack {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .articleText {
    padding: 20px;
    align-items: center;
    /*   border: 3px solid green; */
  }

  .social img{
    /*     border: 3px solid orange; */
        max-width: 40px;
        padding-bottom: 20px;
      }

  .authorInfo {
    /*   border: 3px dotted purple; */
    grid-area: authorInfo;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .authorName {
    /*  border: 3px solid orange; */
    max-height: 30px;
    font-style: italic;
  }

  .photo {
    margin-top: 20px;
    /*     border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .authorPhoto {
    /*     border: 3px solid orange; */
    max-width: 75%;
    border-radius: 50%;
  }

  .bio {
    /*     border: 3px dashed green; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 17px;
  }

  footer {
    border: 3px solid #2b3618;
    background-color: #2b3618;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 3%;
    align-items: center;
    grid-area: footer;
  }

  /*   search {
    float: right;
  } */

  /* .lnk {
    color: white;
  }
  .lnk:visited,
  .lnk:hover,
  .lnk:active {
    color: #f9dc5c;
  } */

  /* h1 {
    font-family: cursive, sans-serif;
    color: white;
    font-size-adjust: 0.7;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;
  } */

  /* h4 {
    font-family: cursive, sans-serif;
    font-size-adjust: 0.7;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;
  } */
  /* TODO: figure out color changes! */

  .articlePad {
    margin: 10px;
    align-items: center;
    border: 3px solid grey;
  }

  /* info sidebar */

  .red {
    width: 64px;
  }

  .button {
    filter: grayscale(90%);
    transition-duration: 0.4s;
  }

  .button:hover {
    filter: grayscale(0);
    box-shadow: 4px 4px 2px #f9dc5c;
  }

  .button:active {
    box-shadow: 7px 7px 3px #f9dc5c;
    transform: translateY(4px);
  }
}
}
