@media only screen and (max-width: 700px) {
  .containerBlog {
    h2 {
      color: #2b3618;
      font-family: cursive, sans-serif;
      font-size-adjust: 0.6;
      font-weight: 700;
      font-style: normal;
    }
    .authorPhoto {
      max-height: 175px;
    }
    .photo {
      /*       border: 3px dotted blue; */
      display: flex;
      flex-direction: row;
    }
    .bio {
      /*       border: 3px dashed green; */
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 17px;
      padding-top: 10px;
      font-size: 90%;
    }
    .authorName {
      /*       border: 3px dotted orange; */
      max-height: 30px;
      padding-bottom: 10px;
      font-style: italic;
    }

    body {
      background-color: #fbfff4;
      /*  color: white; */
      font-family: sans-serif;
    }

    nav {
      /*   border: 3px solid green; */
      grid-area: content;
      padding: 20px;
      grid-area: nav;

      border: 3px solid #2b3618;
      /*   display:flex;
    align-items: center; */

      color: #1f271b;

      a {
        color: #2b3618;
      }
      .a:visited,
      .a:hover,
      .a:active {
        color: #2b3618;
      }
    }

    search {
      float: right;
    }

    main {
      border: 3px solid #2b3618;

      padding-right: 20px;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      grid-area: main;
    }

    .quack {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    blockquote {
      padding-left: 11%;
      padding-right: 11%;
      box-shadow: 7px 7px 3px #f9dc5c;
      border-top: 3px dotted #2b3618;
      border-left: 3px dotted #2b3618;
      font-size: 80%;
    }

    .banner {
      border: 3px solid #2b3618;
      background-color: #2b3618;
      color: white;
      padding: 20px;
      font-family: cursive, sans-serif;

      font-size-adjust: 0.6;
      font-weight: 700;
      font-style: normal;

      grid-area: banner;
    }

    /* h1 {
    font-family:cursive;
    color: white;
    font-size-adjust: 0.7;
    font-weight: 700;
    font-style: normal;
  } */

    /* h4 {
    font-family:  cursive;
    font-size-adjust: 0.7;
    font-weight: 700;
    font-style: normal;
  } */
    /* TODO: figure out color changes! */

    .articlePad {
      margin: 10px;
      align-items: center;
      /*     border: 3px solid grey; */
    }

    .articleText {
      padding: 20px;
      align-items: center;
      /*   border: 3px solid green; */
    }

    /* info sidebar */

    .social img {
      /*     border: 3px solid orange; */
      max-width: 40px;
    }

    .authorInfo {
      /*   border: 3px dotted purple; */
      grid-area: authorInfo;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

    .authorPhoto {
      /*     border: 3px solid orange; */
      max-width: 75%;
      border-radius: 50%;
      padding-bottom: 10px;
    }

    .red {
      width: 64px;
    }

    footer {
      border: 3px solid #2b3618;
      background-color: #2b3618;
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: right;
      gap: 3%;
      align-items: center;
      grid-area: footer;
    }

    .button {
      filter: grayscale(90%);
      transition-duration: 0.4s;
    }

    .button:hover {
      filter: grayscale(0);
      box-shadow: 4px 4px 2px #f9dc5c;
    }

    .button:active {
      box-shadow: 7px 7px 3px #f9dc5c;
      transform: translateY(4px);
    }
  }
}
