/* imports fancy google font and larger screen CSS layout*/
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,INFM,SPAC@0,700,56,13.2;1,700,56,13.2&display=swap");

@import url("bigscreen.css");

.it {
  font-style: italic;
}
/* small screen layout. columns */
@media only screen and (max-width: 700px) {
  .container {
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    height: 90%;
  }
  h3 {
    font-size: 0.7em;
  }
}

body {
 /*  background-color: #f9dc5c; */
 /*  color: white; */
  font-family: sans-serif;
}

.container {
  /* background-color: #1f271b; */
  padding: 20px;
  border: 3px solid blue;
  grid-area: head;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

search {
  float: right;
}

main {
  border: 3px dotted black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}

.quack {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* .lnk {
  color: white;
}
.lnk:visited,
.lnk:hover,
.lnk:active {
  color: #f9dc5c;
} */

.banner {
  background-image: url('/assets/colorful-duck_800.jpg');
  background-size: 100px;
  font-family: "shantell sans", cursive;
  color: white;
  font-size-adjust: 0.7;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;
  text-shadow: 4px 4px 5px orange;
  text-decoration: overline underline;

}

/* h1 {
  font-family: "shantell sans", cursive;
  color: white;
  font-size-adjust: 0.7;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;
} */

.mtn {
  margin-top: 0;
  margin-bottom: 0;
}

/* h4 {
  font-family: "shantell sans", cursive;
  font-size-adjust: 0.7;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;
} */
/* TODO: figure out color changes! */

.title {
  padding: 20px;
  /* border: 3px dotted blue; */
  grid-area: head;
}

.menu {
  /* border: 3px solid aquamarine; */
  display: flex;
  font-family: "shantell sans", cursive;

  font-size-adjust: 0.7;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;

  justify-content: center;

  gap: 10%;
}

.banner {

   border: 3px solid orange;
  grid-area: side;
  padding: 20px;

  font-family: "shantell sans", cursive;

  font-size-adjust: 0.7;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "BNCE" 0, "INFM" 56, "SPAC" 13.2;
}

nav {
  border: 3px solid green;
  grid-area: content;
  padding: 20px;


  color: #1f271b;
}

.cards {
  /* font-weight: bold; */
  border: 3px solid purple;
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
  margin: auto;
}

article {
  /* refresher: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  will likely need to import differnt flex style for vertical alignment for
  smaller screens. place up high for priority*/
  border: 3px dotted blue;
  max-width: 32%;
  display:block;
  margin:auto;

}

.red {
  width: 64px;
}

footer {
  border: 3px solid red;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 3%;
  align-items: center;
}



.button {
  filter: grayscale(90%);
  transition-duration: 0.4s;
}

.button:hover {
  filter: grayscale(0);
  box-shadow: 4px 4px 2px #f9dc5c;
}

.button:active {
  box-shadow: 7px 7px 3px #f9dc5c;
  transform: translateY(4px);
}

.foot {
  background-color: #1f271b;
  /* border: 3px solid yellow; */
  grid-area: foot;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 3%;
  align-items: center;
}
